<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="my.awesome.silento">

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.CHANGE_CONFIGURATION" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.VIBRATE"/>

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:resizeable="true"
        android:smallScreens="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        tools:replace="android:icon">


        <service
            android:name="my.awesome.silento.MyAlarm"
            android:enabled="true"
            android:isolatedProcess="false"
            android:stopWithTask="false" />
        <service
            android:name="my.awesome.silento.shakeService2"
            android:enabled="true"
            android:isolatedProcess="false"
            android:stopWithTask="false" />

        <service
            android:name="my.awesome.silento.RingtoneManagerService"
            android:enabled="true"
            android:isolatedProcess="false"
            android:stopWithTask="false" />

        <service android:name="my.awesome.silento.NotificationListenerService"
            android:label="@string/app_name"
            android:permission="android.permission.BIND_NOTIFICATION_LISTENER_SERVICE">
            <intent-filter>
                <action android:name="android.service.notification.NotificationListenerService" />
            </intent-filter>
        </service>

        <activity
            android:name="my.awesome.silento.AlarmList"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:parentActivityName="my.awesome.silento.AlarmList">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <receiver android:name="my.awesome.silento.MyAlarmBroadcast" />
        <receiver
            android:name="my.awesome.silento.BootSetAlarmBroadcastReciever"
            android:permission="android.permission.RECEIVE_BOOT_COMPLETED">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.TIMEZONE_CHANGED" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.TIME_SET" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="my.awesome.silento.MyExceptionReciever"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.PHONE_STATE" />
            </intent-filter>
        </receiver>

        <activity
            android:name="my.awesome.silento.AlarmDetails"
            android:label="@string/title_activity_alarm_details"
            android:parentActivityName="my.awesome.silento.AlarmDetails"
            android:screenOrientation="portrait" />


        <activity
            android:name="my.awesome.silento.updateAlarmActivity"
            android:label="@string/title_activity_update_alarm"
            android:parentActivityName="my.awesome.silento.updateAlarmActivity"
            android:screenOrientation="portrait" />


        <activity
            android:name="my.awesome.silento.feedBackActivity"
            android:label="@string/title_activity_feed_back"
            android:parentActivityName="my.awesome.silento.feedBackActivity"
            android:screenOrientation="portrait" />


        <activity
            android:name="my.awesome.silento.aboutActivity"
            android:label="@string/title_activity_about"
            android:parentActivityName="my.awesome.silento.aboutActivity"
            android:screenOrientation="portrait" />


        <activity
            android:name="my.awesome.silento.upcomingFeaturesActivity"
            android:label="@string/title_activity_upcoming_features"
            android:parentActivityName="my.awesome.silento.upcomingFeaturesActivity"
            android:screenOrientation="portrait" />


        <activity
            android:name="my.awesome.silento.ExceptionActiviy"
            android:label="@string/title_activity_exception_activiy"
            android:parentActivityName="my.awesome.silento.ExceptionActiviy"
            android:screenOrientation="portrait" />


        <activity
            android:name="my.awesome.silento.FirstActivity"
            android:screenOrientation="portrait"
            android:configChanges="orientation|keyboardHidden|screenSize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="my.awesome.silento.shakeSilentoActivity"
            android:parentActivityName="my.awesome.silento.shakeSilentoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="my.awesome.silento.QuickSilentoActivity"
            android:parentActivityName="my.awesome.silento.QuickSilentoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="my.awesome.silento.SettingsActivity"
            android:screenOrientation="portrait"
            android:parentActivityName="my.awesome.silento.SettingsActivity"
            />
        <activity android:name="my.awesome.silento.AppIntroActivity"
            android:screenOrientation="portrait" />

        <activity android:name="my.awesome.silento.HelpActivity"
            android:parentActivityName="my.awesome.silento.HelpActivity"
            android:screenOrientation="portrait" />
    </application>

</manifest>
